<%-include('./header')%>


      <!-- Header start  -->
      <div class="home-para">
      <div class="container-fluid" >
          <p style="text-align: justify; font-size: 15px; letter-spacing: 1px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus illum deleniti nemo adipisci voluptas et consequuntur hic, eaque sit illo inventore quod eos necessitatibus dolores quam voluptates aperiam blanditiis nesciunt numquam consectetur error, dolore asperiores! Reprehenderit doloribus dolorum delectus labore sequi dolores ad unde accusamus maxime blanditiis odit adipisci laboriosam cum, ducimus velit accusantium recusandae mollitia nobis ex, pariatur sit exercitationem necessitatibus ab! Sapiente alias necessitatibus aliquam cupiditate aperiam! Et sapiente tenetur blanditiis voluptatum, consequuntur non odit magnam placeat omnis id voluptatem. numquam consectetur error, dolore asperiores! Reprehenderit doloribus dolorum delectus labore sequi dolores ad unde accusamus maxime blanditiis odit adipisci laboriosam cum, ducimus velit accusantium recusandae mollitia nobis ex, pariatur sit exercitationem necessitatibus ab! Sapiente alias necessitatibus aliquam cupiditate aperiam! Et sapiente tenetur blanditiis voluptatum, consequuntur non odit magnam placeat omnis id voluptatem. Similique soluta, nemo voluptatem, voluptatum veniam a necessitatibus debitis, ipsum velit reprehenderit tempora? Praesentium, perferendis architecto! Voluptate, facilis?</p>
        </div>
      </div>
      <br><br><br>
      <!-- Card start  -->
      <div class="container">
        <div class="row">

          <% for(let item of result) { %>
          <div class="card" style="width: 18rem;">
            <!-- <img src="images/<%= item.image %>" class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title"><%= item.name%></h5>
              <h6>Price : ₹ <%= item.price%></h6>
              <center><a href="/add_to_cart" class="btn btn-primary" <%= item.product_id%>> Buy Now </a></center>
            </div>
          </div>
          <% } %> 
        </div>
      </div>

      <%-include('./footer')%>